
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h1>
        Register a new Account
      </h1>

      <form class="ui large form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
        <div class="ui raised segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" placeholder="Username" id="username" formControlName="username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="envelope icon"></i>
              <input type="email" id="email" placeholder="E-mail address" formControlName="email">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" id="password" placeholder="Password" formControlName="password">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" id="confirm_password" placeholder="Confirm Password" formControlName="confirm_password" >
            </div>
          </div>
          <!--<div class="ui red message" *ngIf="error">{{ message }}</div>-->
          <button class="ui fluid large blue submit button" type="submit" [disabled]="!myForm.valid">Register</button>
        </div>



      </form>

      <div class="ui message">
        Already have an account? <a routerLink="/home/login"> Sign in</a>
      </div>
      <a routerLink="/home" id="back"><i class="angle double left icon"></i>Back</a>
    </div>
  </div>

