<div class="ui inverted menu">
  <div class="header item">
    <a routerLink="/">B1G</a>
  </div>
  <a class="item" routerLink="/main" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"><i class="home icon"></i> Home</a>
  <a class="item" [routerLink]="['/main', {outlets: {middle: 'newsfeed'}}]" routerLinkActive="active"><i class="newspaper icon"></i> News</a>
  <a class="item" [routerLink]="['/main', {outlets: {middle: 'players'}}]" routerLinkActive="active"> Players</a>
  <a class="item" [routerLink]="['/main', {outlets: {middle: 'teams'}}]" routerLinkActive="active"> Teams</a>

  <div class="right menu">
    <div class="item">
      <div class="ui transparent inverted icon input">
        <i class="search icon"></i>
        <input type="text" placeholder="Search">
      </div>
    </div>
    <a class="item" routerLink="home" (click)="onLogoutClick()"><i class="user circle outline icon"></i> Logout</a>
  </div>
</div>

