<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SynerG</title>
</head>
<body>

<header id="showcase">
  <h1 class="display-1">B1G Dota 2</h1>
  <p class="lead">DotA is life, life is DotA. Yes, cyka blyat. Noob fuck feed at times. Go mid! Go mid! No courrier, where is Pudge?</p>
  <a routerLink="/main" class="button">Get Started</a>
  <div id="overlay"></div>

</header>

</body>
</html>
