<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SynerG</title>
</head>
<body>


<div class="ui fixed secondary stackable menu">
  <div class="ui container">
    <a class="item" routerLink="/main"><i class="home icon"></i> Home</a>
    <a class="item" routerLink="/about"><i class="file text icon"></i> About</a>
    <div class="right menu">
      <a class="item" routerLink="register" *ngIf="!isLoggedIn()"><i class="plus icon"></i> Register</a>
      <a class="item" routerLink="login" *ngIf="!isLoggedIn()"><i class="user circle outline icon"></i> Login</a>
      <a class="item" routerLink="home" *ngIf="isLoggedIn()" (click)="onLogoutClick()"><i class="user circle outline icon"></i> Logout</a>
    </div>
  </div>
</div>

<header id="showcase">
  <!--<h1>B1G Dota 2</h1>-->
  <!--<p class="lead">DotA is life, life is DotA. Yes, cyka blyat. Noob fuck feed at times. Go mid! Go mid! No courrier, where is Pudge?</p>-->
  <!--<a routerLink="/main" class="button">Get Started</a>-->
  <div id="overlay"></div>
  <router-outlet></router-outlet>

</header>

</body>
</html>
