@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*@keyframes slideDown {*/
  /*0% {*/
    /*tra;*/
  /*}*/
  /*100% {*/
    /*opacity: 1;*/
  /*}*/
/*}*/

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromBot {
  0% {
    transform: translateY(+300%);
  }
  100% {
    transform: translateY(0);
  }
}

*{
  margin:0;
  padding:0;
}

#showcase{
  position: relative;
  background: #000;
  background-image:url(../../../assets/img/arena.jpg);
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
  color: white;
  animation: fadeIn 2s;
}

#overlay {
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,100,200,1) 0%, rgba(0,100,200,0.5) 100%) ;
}

.menu {
  animation: 1s ease-out 0s 1 slideInFromTop;
}

.menu .item {
  padding-top: 20px;
  color: white;
  font-size: 1.5em;
}

/* ICONS */
i.file.text {
  font-size: 0.75em;
  padding-right: 15px;
}

.menu a.item {
  color: #ddd;
}

.menu a.item:hover {
  background: transparent;
  color: #fff;
  transition: color 0.3s, font-weight 0.3s;
}





