<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SynerG</title>
</head>
<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top py-4">
    <div class="container">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center text-white">
    <div class="overlay">
      <div class="container">
      <h1 class="display-2">DotA 2 &lt;add name here yes&gt;</h1>
      <p class="lead">DotA is life, life is DotA. Yes, cyka blyat. Noob fuck feed at times. Go mid! Go mid! No courrier, where is Pudge?</p>
      <p><a class="btn btn-outline-secondary btn-lg text-white" href="#" role="button">Get Started &raquo;</a></p>
      </div>
    </div>
  </div>


</body>
</html>
