<div class="ui fluid five item inverse pointing icon menu ">
  <a class="item" routerLinkActive="active" [routerLink]="['/main', {outlets: {user:'profile'}}]"><i class="user circle icon"></i></a>
  <a class="item" routerLinkActive="active" [routerLink]="['/main', {outlets: {user:'chat'}}]"><i class="comments icon"></i><div class="floating ui tiny red circular label">6</div></a>
  <a class="item" routerLinkActive="active" [routerLink]="['/main', {outlets: {user:'friends'}}]"><i class="users icon"></i><div class="floating ui tiny red circular label">22</div></a>
  <a class="item" routerLinkActive="active" [routerLink]="['/main', {outlets: {user:'settings'}}]"><i class="setting icon"></i></a>
  <a class="item" routerLinkActive="active"><i class="angle right icon"></i></a>
</div>
<div class="container">
  <router-outlet name="user"></router-outlet>
</div>
