<div class="ui inverse pointing menu ">
  <a class="item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [routerLink]="['/main', {outlets: {player:'profile'}}]"><i class="user circle icon"></i> Profile</a>
  <a class="item" routerLinkActive="active" [routerLink]="['/main', {outlets: {player:'chat'}}]"><i class="comments icon"></i> Chat</a>
  <a class="item" routerLinkActive="active" [routerLink]="['/main', {outlets: {player:'friends'}}]"><i class="users icon"></i> Friends</a>
  <a class="item" routerLinkActive="active" [routerLink]="['/main', {outlets: {player:'settings'}}]"><i class="setting icon"></i> Settings</a>
  <a class="item" routerLinkActive="active"><i class="angle right icon"></i></a>
</div>
<div class="container">
  <router-outlet name="player"></router-outlet>
</div>
