:host {
  display: block;
  min-height: 500px;
  height: 80vh;
  background-color: #f4f4f4;
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.menu {
  border-radius: 0;
}

.menu a.item {
  width: auto;
  border-radius: 0;
}

.menu a.item.active {
  color: blue;
}

.container {
  padding: 14px;
}
